# Ignore dataset files
walmart_data.csv
black-friday-sales-dataset.zip

# Python cache directories
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db
